</body>
<div class="bg-dark text-white">
    <div class="row container-fluid text-center">
        <div class="col redes-sociales">
            <br>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://telegram.org" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
            <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
        </div>
    </div>
    <div class="row container-fluid text-center">
        <div class="col">
            <p><i class="far fa-copyright"></i>&nbsp; Vector Design News</p>
        </div>
    </div>
</div>
</html>